.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: hidden; /* Hide initially */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.modal__open {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background-color: white;
  max-width: 496px;
  border-radius: 20px;
  padding: 5px 30px 30px 30px;
  position: relative; /* Ensure the close button is properly positioned inside */
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background-image: url("/src/images/close-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 20px;
  width: 20px;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal__close-button::after {
  content: "Close";
  display: none;
}

.modal__title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-weight: 500;
  font-family: inherit;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  font-weight: 500;
  font-family: inherit;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  height: 24px;
  width: 440px;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: inherit;
}

.modal__submit-button {
  width: 124px;
  height: 36px;
  color: black;
  background-color: gray;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 30px;
  position: relative;
  left: 160px;
  font-weight: 500;
  font-family: inherit;
}

.modal__submit-button:hover {
  cursor: pointer;
  opacity: 0.7;
  border-color: #8f05f2;
}
