/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: transparent;
  width: 75px;
}

.header__logo:hover {
  border-color: #8f05f2;
  cursor: pointer;
}

.header__button {
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 18px;
  margin-left: 10px;
  color: black;
}

.header__button:hover {
  border-color: #8f05f2;
}
